body {
    margin:0;
    padding:0;
    background-image: url("bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}
#increment-btn:hover{
    background:white;
    border: 2px solid black;
    color:black;
    cursor: pointer;
}
#increment-btn {
    background: linear-gradient(rgb(2, 0, 130),rgb(23, 1, 59));
}

#save-btn:hover {
    background:white;
    border: 2px solid black;
    color:black;
    cursor: pointer;
}
#save-btn {
    background:linear-gradient(#1C7947,rgb(1, 56, 27));
}
.page{
    max-width:80%;
    background: linear-gradient(rgb(255, 255, 255),rgb(182, 180, 180));
    padding: 2px;
    margin:auto;
    border: 2px solid black;
    border-radius: 15px;
}
p{
    font-weight: 900;
}